In [1]:
pip install pandas

Requirement already satisfied: pandas in c:\users\brady\appdata\local\programs\python\python39\lib\site-packages (2.2.0)
Requirement already satisfied: numpy<2,>=1.22.4 in c:\users\brady\appdata\local\programs\python\python39\lib\site-packages (from pandas) (1.26.3)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\brady\appdata\local\programs\python\python39\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\brady\appdata\local\programs\python\python39\lib\site-packages (from pandas) (2023.4)
Requirement already satisfied: tzdata>=2022.7 in c:\users\brady\appdata\local\programs\python\python39\lib\site-packages (from pandas) (2023.4)
Requirement already satisfied: six>=1.5 in c:\users\brady\appdata\local\programs\python\python39\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 23.3.2 -> 24.0
[notice] To update, run: python.exe -m pip install --upgrade pip

In [2]:
import numpy as np
import pandas as pd

import math
import statistics
from scipy import stats

C:\Users\brady\AppData\Local\Temp\ipykernel_6780\4193832274.py:2: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas as pd

In [5]:
loans_df=pd.read_csv('loans_full_schema.csv')

In [8]:
loans_df.head(10)

,emp_title,emp_length,state,homeownership,annual_income,verified_income,debt_to_income,annual_income_joint,verification_income_joint,debt_to_income_joint,...,sub_grade,issue_month,loan_status,initial_listing_status,disbursement_method,balance,paid_total,paid_principal,paid_interest,paid_late_fees
0,global config engineer,3.0,NJ,MORTGAGE,90000.0,Verified,18.01,NaN,NaN,NaN,...,C3,Mar-2018,Current,whole,Cash,27015.86,1999.33,984.14,1015.19,0.0
1,warehouse office clerk,10.0,HI,RENT,40000.0,Not Verified,5.04,NaN,NaN,NaN,...,C1,Feb-2018,Current,whole,Cash,4651.37,499.12,348.63,150.49,0.0
2,assembly,3.0,WI,RENT,40000.0,Source Verified,21.15,NaN,NaN,NaN,...,D1,Feb-2018,Current,fractional,Cash,1824.63,281.80,175.37,106.43,0.0
3,customer service,1.0,PA,RENT,30000.0,Not Verified,10.16,NaN,NaN,NaN,...,A3,Jan-2018,Current,whole,Cash,18853.26,3312.89,2746.74,566.15,0.0
4,security supervisor,10.0,CA,RENT,35000.0,Verified,57.96,57000.0,Verified,37.66,...,C3,Mar-2018,Current,whole,Cash,21430.15,2324.65,1569.85,754.80,0.0
5,NaN,NaN,KY,OWN,34000.0,Not Verified,6.46,NaN,NaN,NaN,...,A3,Jan-2018,Current,whole,Cash,4256.71,873.13,743.29,129.84,0.0
6,hr,10.0,MI,MORTGAGE,35000.0,Source Verified,23.66,155000.0,Not Verified,13.12,...,C2,Jan-2018,Current,whole,Cash,22560.00,2730.51,1440.00,1290.51,0.0
7,police,10.0,AZ,MORTGAGE,110000.0,Source Verified,16.19,NaN,NaN,NaN,...,B5,Jan-2018,Current,whole,Cash,19005.39,1765.84,994.61,771.23,0.0
8,parts,10.0,NV,MORTGAGE,65000.0,Source Verified,36.48,NaN,NaN,NaN,...,C2,Feb-2018,Current,whole,Cash,18156.66,2703.22,1843.34,859.88,0.0
9,4th person,3.0,IL,RENT,30000.0,Not Verified,18.91,NaN,NaN,NaN,...,A3,Mar-2018,Current,fractional,Cash,6077.13,391.15,322.87,68.28,0.0

In [9]:
grouped_loans_df=loans_df.groupby('loan_status')

In [11]:
grouped_loans_df.head()

,emp_title,emp_length,state,homeownership,annual_income,verified_income,debt_to_income,annual_income_joint,verification_income_joint,debt_to_income_joint,...,sub_grade,issue_month,loan_status,initial_listing_status,disbursement_method,balance,paid_total,paid_principal,paid_interest,paid_late_fees
0,global config engineer,3.0,NJ,MORTGAGE,90000.0,Verified,18.01,NaN,NaN,NaN,...,C3,Mar-2018,Current,whole,Cash,27015.86,1999.330000,984.14,1015.19,0.0
1,warehouse office clerk,10.0,HI,RENT,40000.0,Not Verified,5.04,NaN,NaN,NaN,...,C1,Feb-2018,Current,whole,Cash,4651.37,499.120000,348.63,150.49,0.0
2,assembly,3.0,WI,RENT,40000.0,Source Verified,21.15,NaN,NaN,NaN,...,D1,Feb-2018,Current,fractional,Cash,1824.63,281.800000,175.37,106.43,0.0
3,customer service,1.0,PA,RENT,30000.0,Not Verified,10.16,NaN,NaN,NaN,...,A3,Jan-2018,Current,whole,Cash,18853.26,3312.890000,2746.74,566.15,0.0
4,security supervisor,10.0,CA,RENT,35000.0,Verified,57.96,57000.0,Verified,37.66,...,C3,Mar-2018,Current,whole,Cash,21430.15,2324.650000,1569.85,754.80,0.0
18,operational risk manager,10.0,IL,MORTGAGE,210000.0,Verified,9.53,NaN,NaN,NaN,...,E5,Feb-2018,Fully Paid,fractional,Cash,0.00,5202.642672,5000.00,202.64,0.0
19,welder,1.0,CA,MORTGAGE,83000.0,Source Verified,18.44,NaN,NaN,NaN,...,C4,Jan-2018,Fully Paid,whole,Cash,0.00,20653.717722,20000.00,653.72,0.0
34,deputy,10.0,CA,MORTGAGE,140000.0,Not Verified,13.82,NaN,NaN,NaN,...,B2,Jan-2018,Fully Paid,whole,Cash,0.00,15005.166875,15000.00,5.17,0.0
35,armed protection officer,1.0,MD,OWN,70000.0,Source Verified,0.00,NaN,NaN,NaN,...,A2,Jan-2018,Fully Paid,whole,Cash,0.00,2409.049993,2400.00,9.05,0.0
37,supplies clerk,10.0,NJ,MORTGAGE,70000.0,Verified,17.06,105000.0,Verified,13.27,...,C4,Mar-2018,In Grace Period,whole,Cash,23455.27,1102.830000,544.73,558.10,0.0
107,crew chief,2.0,FL,MORTGAGE,44000.0,Verified,24.77,NaN,NaN,NaN,...,C3,Feb-2018,Fully Paid,whole,Cash,0.00,7518.180418,7200.00,318.18,0.0
121,qc lead,4.0,CA,MORTGAGE,63000.0,Source Verified,15.30,NaN,NaN,NaN,...,C5,Feb-2018,In Grace Period,whole,Cash,9336.71,1032.760000,663.29,369.47,0.0
224,regional manager,2.0,NY,RENT,84000.0,Verified,7.57,NaN,NaN,NaN,...,B5,Jan-2018,Late (31-120 days),whole,Cash,33701.09,2311.830000,1298.91,1012.92,0.0
283,lead driver,10.0,GA,RENT,85000.0,Verified,21.22,NaN,NaN,NaN,...,D3,Feb-2018,Late (31-120 days),whole,Cash,23760.26,602.250000,239.74,362.51,0.0
350,chef,0.0,TX,RENT,14400.0,Verified,3.83,NaN,NaN,NaN,...,C4,Feb-2018,Late (31-120 days),whole,Cash,4889.26,169.270000,110.74,58.53,0.0
387,business development associate,5.0,FL,RENT,70000.0,Not Verified,3.82,NaN,NaN,NaN,...,D1,Jan-2018,Charged Off,whole,Cash,0.00,528.360000,324.15,204.21,0.0
412,installer,10.0,CA,MORTGAGE,60000.0,Source Verified,9.80,NaN,NaN,NaN,...,A3,Jan-2018,In Grace Period,whole,DirectPay,5391.31,735.760000,608.69,127.07,0.0
413,teller,9.0,NY,RENT,22000.0,Source Verified,9.93,57000.0,Source Verified,9.58,...,A5,Jan-2018,In Grace Period,whole,Cash,4501.41,622.050000,498.59,123.46,0.0
484,installer,1.0,MI,RENT,36000.0,Source Verified,4.87,NaN,NaN,NaN,...,D4,Feb-2018,Late (16-30 days),whole,Cash,6430.33,1040.090000,569.67,440.42,30.0
491,document control specialist,2.0,AZ,MORTGAGE,41000.0,Verified,41.51,121000.0,Verified,23.35,...,D5,Jan-2018,Late (16-30 days),whole,Cash,30759.92,3399.990000,1240.08,2159.91,0.0
498,master inspecter,10.0,IN,MORTGAGE,60000.0,Source Verified,16.12,NaN,NaN,NaN,...,A4,Jan-2018,In Grace Period,whole,Cash,8996.09,1237.440000,1003.91,233.53,0.0
562,reciever,0.0,MA,RENT,24000.0,Source Verified,4.40,NaN,NaN,NaN,...,B4,Mar-2018,Late (31-120 days),whole,Cash,5882.76,189.670000,142.24,47.43,0.0
671,senior vice president,9.0,MD,MORTGAGE,169880.0,Source Verified,20.61,NaN,NaN,NaN,...,C5,Feb-2018,Charged Off,whole,Cash,0.00,1673.800000,1061.28,612.52,0.0
762,owner / operator,10.0,NM,OWN,64000.0,Source Verified,31.58,NaN,NaN,NaN,...,D1,Jan-2018,Late (16-30 days),whole,Cash,13390.98,1361.250000,609.02,752.23,0.0
763,mechanical designer,3.0,OR,RENT,71500.0,Verified,20.98,NaN,NaN,NaN,...,F5,Mar-2018,Late (31-120 days),whole,Cash,15896.16,665.690000,278.84,386.85,0.0
1003,gm manager,10.0,MI,MORTGAGE,140000.0,Verified,10.47,NaN,NaN,NaN,...,B2,Jan-2018,Late (16-30 days),fractional,Cash,18963.53,2684.550000,2036.47,648.08,0.0
1080,metal fabricator,10.0,NY,OWN,50000.0,Verified,29.67,NaN,NaN,NaN,...,B5,Mar-2018,Late (16-30 days),fractional,DirectPay,5719.95,390.470000,280.05,110.42,0.0
1344,human resources representative ii,1.0,TN,MORTGAGE,62000.0,Not Verified,9.16,NaN,NaN,NaN,...,A5,Mar-2018,Charged Off,fractional,Cash,0.00,0.000000,0.00,0.00,0.0
3901,sales,4.0,TX,MORTGAGE,51000.0,Verified,20.66,NaN,NaN,NaN,...,A3,Jan-2018,Charged Off,whole,Cash,0.00,0.000000,0.00,0.00,0.0
3957,president,10.0,NV,OWN,143000.0,Verified,29.31,NaN,NaN,NaN,...,B3,Jan-2018,Charged Off,fractional,Cash,0.00,1918.960000,1439.33,479.63,0.0

In [14]:
df_clothes=pd.DataFrame(data=[['green', 'M', 10, 'shirt'], ['red' 'M', 60, 'sweatshirt'], ['black', 'M', 120, 'shoes']])
df_clothes.columns=df_clothes.clomuns(

In [15]:
df_clothes

       0   1           2      3
0  green   M          10  shirt
1   redM  60  sweatshirt   None
2  black   M         120  shoes